:host {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
}

form {
  flex: 0.3;
}

.selectionRange {
  background-color: #c2185b;
  height: 100%;
  width: 1em;
  border-radius: 7px;
}

.selection {
  background-color: rgb(3, 83, 175);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  width: 1em;
  border-radius: 7px;
}

#timeLadder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}