<div class="flex justifyContentCenter flexDirectionColumn margin2Vh">
  <div class="flex justifyContentCenter">
    <h1>
      Liste des parties au format csv
    </h1>
  </div>
  <div class="flex space-around">
    <form [formGroup]="form" class="form flex flexDirectionColumn">
      <mat-form-field appearance="fill">
        <mat-label>Summoner Name</mat-label>
        <input matInput type="string" formControlName="name" max="0">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Begin</mat-label>
        <input matInput type="number" formControlName="beginIndex" max="0" min="-100">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Match amount</mat-label>
        <input matInput type="number" formControlName="endIndex" min="1" max="100">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Begin Date</mat-label>
        <input matInput formControlName="beginTime" [matDatepicker]="pickerBegin" [max]="today">
        <mat-datepicker-toggle matSuffix [for]="pickerBegin"></mat-datepicker-toggle>
        <mat-datepicker #pickerBegin></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>End Date</mat-label>
        <input matInput formControlName="endTime" [matDatepicker]="pickerEnd" [max]="today">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
      <br>
      <button mat-fab color="warn" aria-label="" [disabled]="!form.valid || isLoading" (click)="getMatchToCSV()">
        <mat-icon>update</mat-icon>
      </button>
    </form>
    <div id="queryVisualizer" class="flex space-around">
      <div id="timeLadder">
        <div>
          Today ({{ today | date:'dd/MM/YYYY' }})
        </div>
        <div>
          Past ({{ defaultMinDate | date:'dd/MM/YYYY' }})
        </div>
      </div>
      <div class="selectionRange flex">
        <div class="selection"
          [@heightAnimation]="{ value: height, params: { height: height } }"
          [@marginTopAnimation]="{ value: marginTop, params: { margin: marginTop } }">
        </div>
      </div>
      <div #timeSelection class="flex flexDirectionColumn">
        <div [@heightAnimation]="{ value: height, params: { height: height } }"
          [@marginTopAnimation]="{ value: marginTop, params: { margin: marginTop } }"
          class="flex flexDirectionColumn justifyContentSpaceBetween">
          <div [@queryVisuLabelOpacity]="queryVisuLabelVisible ? 'visible' : 'invisible'">
            {{ form.controls.endTime.value | date:'dd/MM/YYYY' }}
          </div>
          <div class="textAlignCenter" [@queryVisuLabelOpacity]="queryVisuLabelVisible ? 'visible' : 'invisible'">
            matches
          </div>
          <div [@queryVisuLabelOpacity]="queryVisuLabelVisible ? 'visible' : 'invisible'">
            {{ form.controls.beginTime.value | date:'dd/MM/YYYY' }}
          </div>
        </div>
      </div>
      <ul *ngIf="!isLoading">
        <li *ngFor="let match of matchesToCSV">
          {{ match.date + ';' + match.day + ';' + match.hour + ';' + match.win + ';' + match.gameNumber }}
        </li>
      </ul>
      <div class="flex space-around" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
  <br>
  <div class="flex flexDirectionColumn alignItemCenter">
    <ul *ngIf="form.errors">
      <li *ngIf="form.errors.dateRangeGreaterThanOneWeek">
        <h2>{{ form.errors.dateRangeGreaterThanOneWeek.msg }} (given : {{ form.errors.dateRangeGreaterThanOneWeek.data
          }} days)</h2>
      </li>
      <li *ngIf="form.errors.beginDateGreaterThanEndDate">
        <h2>{{ form.errors.beginDateGreaterThanEndDate.msg }}</h2>
      </li>
      <li *ngIf="form.errors.endIndex">
        <div *ngIf="form.errors.endIndex.min">
          <h2>Match amount must be at least {{ form.errors.endIndex.min.min }} (given : {{
            form.errors.endIndex.min.actual }})</h2>
        </div>
        <div *ngIf="form.errors.endIndex.max">
          <h2>Match amount must be lower-than/equals {{ form.errors.endIndex.max.max }} (given : {{
            form.errors.endIndex.max.actual }})</h2>
        </div>
      </li>
      <li *ngIf="form.errors.beginIndex">
        <div *ngIf="form.errors.beginIndex.min">
          <h2>Begin must be at least {{ form.errors.beginIndex.min.min }} (given : {{
            form.errors.beginIndex.min.actual }})</h2>
        </div>
        <div *ngIf="form.errors.beginIndex.max">
          <h2>Begin must be lower-than/equals {{ form.errors.beginIndex.max.max }} (given : {{
            form.errors.beginIndex.max.actual }})</h2>
        </div>
      </li>
      <li *ngIf="form.errors.name">
        <h2>Summoner Name is missing</h2>
      </li>
    </ul>
  </div>
</div>