.rankedIcon {
  max-width: 30%;
}

.playerListTextArea {
  background: #f7f7f9;
}

body > app-root > mat-drawer-container > mat-drawer-content > div > app-multiple-search > form > mat-form-field > div > div.mat-form-field-flex.ng-tns-c90-1 {
  width: 70vh !important;
}

.form {
  width: 100vh;
  margin: auto;
}

.textarea {
  width: 100%;
  background: white;
  color: black;
}

.label {
  color: black;
}