.rankedIcon {
  max-width: 2vh;
}

.playerListTextArea {
  background: #f7f7f9;
}

body > app-root > mat-drawer-container > mat-drawer-content > div > app-multiple-search > form > mat-form-field > div > div.mat-form-field-flex.ng-tns-c90-1 {
  width: 70vh !important;
}

.form {
  width: 100vh;
  margin: auto;
}

.textarea {
  width: 100%;
  background: white;
  color: black;
}

.label {
  color: black;
}

.win {
  background-color: #ecf2ff;
  color: #4171d6;
}

.loss {
  background-color: #fff1f3;
  color: #d31a45;
}

::ng-deep #MatchListItem > div.mat-list-item-content {
  display: flex;
  justify-content: space-between !important;
}

.graphBar {
  position: relative;
  width: 155px;
  height: 16px;
  padding-right: 4px;
  background-color: #e84057;
  color: #fff;
  text-align: right;
  font-size: 11px;
  border-radius: 4px;
  box-sizing: border-box;
}

.winGraphBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  padding-left: 4px;
  text-align: left;
  background-color: #5383e8;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
}

.bigInter {
  color: var(--bigInterColor);
}

.quiteInter {
  color: var(--quiteInterColor);
}

.randomPlayer {
  color: var(--randomPlayerColor);
}

.quiteCarry {
  color: var(--quiteCarryColor);
}

.hyperCarry {
  color: var(--hyperCarryColor);
}

#loadStatsButton {
  margin-top: 1em;
}