<form [formGroup]="form" class="form">
  <h2>Liste des joueurs</h2>
  <mat-form-field class="textarea" appearance="fill">
    <mat-label class="label">Liste des joueurs</mat-label>
    <textarea formControlName="players" minRows="5" matAutosizeMinRows="5" rows="5" matInput
      placeholder="Player 1 has joined the lobby Player 2 has joined the lobby..."
      class="playerListTextArea"></textarea>
  </mat-form-field>
  <button mat-raised-button color="warn" aria-label="" [disabled]="!form.valid || isLoading" (click)="getSummonerStats()">
    Load Stats
    <mat-icon>search</mat-icon>
  </button>
</form>
<br>
<div class="flex space-around" *ngIf="!isLoading">
  <div *ngFor="let player of players">
    <div class="bold textAlignCenter textShadowBlack">{{player.rank}}</div>
    <div class="textAlignCenter">
      <img src="../../../assets/ranked-emblems/Emblem_{{player.tier}}.png" alt="{{player.tier}}"
      class="rankedIcon">
    </div>
    <div class="bold textAlignCenter textShadowBlack">{{player.name}}</div>
    <div class="textAlignCenter textShadowWhite" [ngClass]="{ 
      bigInter: isInterWinRate(player.winrate), 
      quiteInter: isQuiteInterWinRate(player.winrate),
      randomPlayer: isRandomPlayerWinRate(player.winrate),
      quiteCarry: isQuiteCarryWinRate(player.winrate),
      hyperCarry: isHyperCarryWinRate(player.winrate)
    }">
      {{ player.winrate + '%'}}
    </div>
    <div class="flex center bold">
      <div class="graphBar">
        <div class="winGraphBar" [ngStyle]="{ 'width': player.winrate + '%'}">{{player.wins + 'V'}}</div>
        {{ player.losses + 'D' }}
      </div>
      <div class="bold textShadowWhite" [ngClass]="{ 
        bigInter: isInterWinRate(player.winrate), 
        quiteInter: isQuiteInterWinRate(player.winrate),
        randomPlayer: isRandomPlayerWinRate(player.winrate),
        quiteCarry: isQuiteCarryWinRate(player.winrate),
        hyperCarry: isHyperCarryWinRate(player.winrate)
      }">
      </div>
    </div>
    <div class="textAlignCenter textShadowBlack" [ngClass]="{ 
      bigInter: isInterKDA(player), 
      quiteInter: isQuiteInterKDA(player),
      randomPlayer: isRandomPlayerKDA(player),
      quiteCarry: isQuiteCarryKDA(player),
      hyperCarry: isHyperCarryKDA(player)
    }">
      {{player.kda}}
    </div>
    <div class="height12vh">
      <app-label *ngFor="let label of player.labels" [label]="label.name" [labelClasses]="label.className"></app-label>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let match of player.matches" id="MatchListItem"
        [ngClass]="{win: match.win, loss: !match.win}">
        <div class="">
          <img
            [src]="CONFIG.championsSplashArtUrl + championsService.getChampion(match.champion).id + CONFIG.championsSplashArtExtension"
            alt="{{championsService.getChampion(match.champion).name}}" class="rankedIcon">
        </div>
        <div class="">
          {{ match.kda }}
        </div>
        <div class="">
          <img [src]="'../../../assets/ranked-positions/' + getRankedPositionPicture(player, match)" alt="{{match.lane}}"
            class="rankedIcon">
        </div>
        <div class="fontSize1p2vh">
          {{ match.gameCreation | date:'dd/MM HH:mm'}}
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div class="flex space-around" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>