<mat-toolbar color="primary">
  <button mat-icon-button color="" class="" aria-label="">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>
  <span>LoL Matches Analyst</span>
  <span class="spacer"></span>
  <button mat-icon-button class="favorite-icon" aria-label="">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-list>
      <mat-list-item routerLink="/">Export CSV</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/inter-detector">Inter detector</mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="content">    
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
