<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-list>
      <mat-list-item routerLink="/">Export CSV</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/inter-detector">Inter detector</mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
