:root 
{
  --blackColor: black;
  --whiteColor: white;
  --bigInterColor: #d31a45;
  --quiteInterColor: #db8297;
  --randomPlayerColor: #d3a81a;
  --quiteCarryColor: #1a79d3;
  --hyperCarryColor: #0fd662;
}