.inter {
  background-color: var(--bigInterColor);
}
.troller {
  background-color: var(--bigInterColor);
}
.newAccount {
  background-color: var(--randomPlayerColor);
}
.hyperCarry {
  background-color: var(--hyperCarryColor);
}