.inter {
  background-color: var(--bigInterColor);
}
.troller {
  background-color: var(--bigInterColor);
}
.newAccount {
  background-color: var(--randomPlayerColor);
}
.hyperCarry {
  background-color: var(--hyperCarryColor);
}

div {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  padding: 2px 8px;
  margin: 2px 0px;
  color: #FFF;
}